body {
  font-family: 'Poppins', sans-serif;
}

.header-container {
  margin-top: 1em;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: header-border ease-in-out 0.75s both;
}

@keyframes header-border {
  0% {width: 15%;}
  100% {width: 100%;}
}

.usa-map-container {
  margin-top: 2em;
}

.world-map-container {
  margin-top: 2em;
}

.tooltip {
  width: 175px;
}

/* .view-map {
  height: 600px;
  width: 800px;
} */

path {
  pointer-events: all;
}

path:hover {
  opacity: 0.50;
  cursor: pointer;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.search-input-label {
  margin-top: 1em;
}

.search-input {
  margin-top: 0.05em;
}

.data-container {
  margin-top: 5em;
}

.data-table {
  margin-top: 1em;
}
