body {
  font-family: 'Poppins', sans-serif;
}

.header-container {
  margin-top: 1em;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: header-border ease-in-out 0.75s both;
}

@keyframes header-border {
  0% {width: 15%;}
  100% {width: 100%;}
}

.data-container {
  margin-top: 5em;
}
